<h2>Authentication</h2>
<button class="btn btn-outline-success" *ngIf="!authStatus" (click)="onSignIn()">Sign In</button>
<button class="btn btn-outline-danger" *ngIf="authStatus" (click)="onSignOut()">Log Out</button>
