<li [ngClass]="{'list-group-item': true,
				'list-group-item-success': deviceStatus === 'on',
				'list-group-item-warning': deviceStatus === 'sleep',
				'list-group-item-danger': deviceStatus === 'off'}">
	<h4>Device : {{ deviceName }} -- Status : <span [ngStyle]="{color: getColor()}">{{ getStatus() }}</span></h4>
	<a [routerLink]="[deviceId]">Details</a>
	<button class="btn btn-outline-success ml-1"
			(click)="onSwitchOn()"
			[disabled]="deviceStatus === 'on'">Turn on</button>
	<button class="btn btn-outline-warning ml-1"
			(click)="onSwitchSleep()"
			[disabled]="deviceStatus === 'sleep'">Sleep</button>
	<button class="btn btn-outline-danger ml-1"
			(click)="onSwitchOff()"
			[disabled]="deviceStatus === 'off'">Turn off</button>
</li>