<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="">My devices</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentication</a></li>
			<li class="nav-item ml-1" routerLinkActive="active"><a class="nav-link" routerLink="devices">Devices</a></li>
			<li class="nav-item ml-1" routerLinkActive="active"><a class="nav-link" routerLink="edit">New device</a></li>
		</ul>
		<span class="navbar-text">Logged in since {{ seconds }} seconds</span>
	</div>
</nav>
<div class="container">
	<div class="row">
		<router-outlet></router-outlet>
	</div>
</div>