<div class="col-xs-12">
	<h2>My devices</h2>
	<p>Last update : {{ lastUpdate | async | date }}</p>
	<ul class="list-group mb-3">
		<app-device *ngFor="let device of devices; let idx = index"
					[idxDevice]="idx"
					[deviceName]="device.name"
					[deviceStatus]="device.status"
					[deviceId]="device.id"></app-device>
	</ul>
	<button class="btn btn-outline-success"
			(click)="onTurnOnAll()">All on</button>
	<button class="btn btn-outline-danger ml-1"
			(click)="onTurnOffAll()">All off</button>
</div>