<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<form (ngSubmit)="onSubmit(formDevice)" #formDevice="ngForm">
			<div class="form-group">
				<label for="name">
					Device name
				</label>
				<input type="text" id="name" class="form-control" name="name" ngModel required/>
			</div>
			<div class="form-group">
				<label for="status">
					Device status
				</label>
				<select id="status" class="form-control" name="status" [ngModel]="defaultStatus">
					<option value="on">On</option>
					<option value="sleep">Sleep</option>
					<option value="off">Off</option>
				</select>
			</div>
			<button type="submit" class="btn btn-outline-primary" [disabled]="formDevice.invalid">Save device</button>
		</form>
	</div>
</div>